
		<style>
			.mui-table-view{
			margin-top: 0px !important;
			}
			.mui-control-content {
				background-color: white;
				min-height: 760px;
			}
			#recommended-service{
				color: goldenrod;
				margin-top: 12px;
				padding-left: 12px;
				height: 32px;
				border-bottom: 1px solid rgba(200,200,200,0.2);
			}
			.mui-table-view-cell{
				height: 70px;
				border-bottom: 1px solid rgba(200,200,200,0.2);
			}
			.appname{
				float: left;
				margin-right: 12px;
				width: 50px;
				height: 50px;
				border-radius: 20%;
			}
			.cardbot{
				height: 50px;
			}
			.card-right{
				width: 100%;
			}
			.present{
				width: 100%;
				height: 25px;
				display: block;
			}
			.limit{
				display: block;
			}
			.present-title{
				float: left;
				font-size: 16px;
			}
			.present-day-interest{
				float: left;
				font-size: 13px;
				margin-left: 5px;
			}
			.present-right{
				float: right;
				font-size: 16px;
				color: goldenrod;
			}
			.limit-left{
				font-size: 13px;
				margin-top: 5px;
				float: left;
			}
			.limit-right{
				float: right;				
				margin-top: 5px;
				font-size: 13px;
			}
			
		</style>
	</head>

		<div class="mui-content">
			<div class="mui-slider-group">
				<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
					
					<div id="scroll1" class="mui-scroll-wrapper">
						<div id="recommended-service">
							| 
							<span style="padding-top: 5px;">推荐服务</span>
						</div>
						<div class="mui-scroll">
							
							<ul class="mui-table-view item1ul">
								
								<li class="mui-table-view-cell">
									<div class="cardbot">
										<img class="appname" src="/static/imgs/rapid/xinrenpin.jpg">
										<div class="card-right">
											<div class="present">
												<span class="present-title">芯人品 </span>
												<p class="present-day-interest">日息低至1.4元</p>
												<span class="present-right">50000</span>
											</div>
											<div class="limit">
												<p class="limit-left">最快3秒到账0抵押</p>
												<p class="limit-right">最高可借(元)</p>
											</div>
										</div>
									</div>
								</li>
								<li class="mui-table-view-cell">
									<div class="cardbot">
										<img class="appname" src="/static/imgs/rapid/yirendai.jpg">
										<div class="card-right">
											<div class="present">
												<span class="present-title">宜人贷 </span>
												<p class="present-day-interest">日息低至0.0026元</p>
												<span class="present-right">200000</span>
											</div>
											<div class="limit">
												<p class="limit-left">平工资卡轻松借20万</p>
												<p class="limit-right">最高可借(元)</p>
											</div>
										</div>
									</div>
								</li>
								<li class="mui-table-view-cell">
									<div class="cardbot">
										<img class="appname" src="/static/imgs/rapid/tiqianhua.png">
										<div class="card-right">
											<div class="present">
												<span class="present-title">提钱花 </span>
												<p class="present-day-interest"></p>
												<span class="present-right">200000</span>
											</div>
											<div class="limit">
												<p class="limit-left">申请快，用钱更轻松</p>
												<p class="limit-right">最高可借(元)</p>
											</div>
										</div>
									</div>
								</li>
								<li class="mui-table-view-cell">
									<div class="cardbot">
										<img class="appname" src="/static/imgs/rapid/doudouqian.jpg">
										<div class="card-right">
											<div class="present">
												<span class="present-title">豆豆钱 </span>
												<p class="present-day-interest"></p>
												<span class="present-right">50000</span>
											</div>
											<div class="limit">
												<p class="limit-left">线上申请急速借贷</p>
												<p class="limit-right">最高可借(元)</p>
											</div>
										</div>
									</div>
								</li>
								<li class="mui-table-view-cell">
									<div class="cardbot">
										<img class="appname" src="/static/imgs/rapid/360jietiao.jpg">
										<div class="card-right">
											<div class="present">
												<span class="present-title">360借条 </span>
												<p class="present-day-interest"></p>
												<span class="present-right">200000</span>
											</div>
											<div class="limit">
												<p class="limit-left">审批快、安心贷</p>
												<p class="limit-right">最高可借(元)</p>
											</div>
										</div>
									</div>
								</li>
								<li class="mui-table-view-cell">
									<div class="cardbot">
										<img class="appname" src="/static/imgs/rapid/dawangdaikuan.png">
										<div class="card-right">
											<div class="present">
												<span class="present-title">大王贷款 </span>
												<p class="present-day-interest"></p>
												<span class="present-right">200000</span>
											</div>
											<div class="limit">
												<p class="limit-left">一键申请急速贷款</p>
												<p class="limit-right">最高可借(元)</p>
											</div>
										</div>
									</div>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>


