
		<style>
		.page_supplier .table-view{
			margin-top: 0px !important;
		}
		.page_supplier .control-content {
			background-color: rgba(255,200,200,0.01);
			min-height: 760px;
		}
		.page_supplier .table-view-cell{
			height: 70px;
			margin: 10px;
		}
		.page_supplier .table-view-cell a{
			height: 70px;
			line-height: 50px;
		}
		.page_supplier .itemsul .mui-icon{
			color: #FFFFFF;
			border-radius: 100%;
			padding: 7.5px;
			/*margin-top: 5px;*/
			margin-right: 15px;
			font-size: 30px;
			width: 40px;
			height: 40px;
			/*float: left;*/
		}
		.page_supplier .micon1{
			background-color: #FFD700;
		}
		.page_supplier .micon2{
			background-color: DarkOrange;
		}
		.page_supplier .micon3{
			background-color: MediumPurple;
		}
		.page_supplier #presentation{
			padding: 10px;
			font-size: 14px;
		}
		.page_supplier #check-qualifications{
			font-size: 14px;
		}
		.page_supplier .pl{
			display: inline;
			color: goldenrod;
			float: left;
			margin-right: 5px;
		}
		.page_supplier .fl{
			float: left;
			display: inline;
		}
		.page_supplier .explain-item{
			width: 100%;
			height: 40px;
		}
		</style>

		<div class="page_supplier">
			<div class="control-content">
				<ul class="table-view itemsul">
					<li class="table-view-cell">
						<a class="mui-navigate-right touch-action">
							<span class="font_family mui-icon micon1 icon-getishanghuruzhu"></span> 
							<span> 个体商户入驻</span>
						</a>
					</li>
					<li class="table-view-cell" id="">
						<a class="navigate-right touch-action">
							<span class="font_family mui-icon micon2 icon-getigongshanghuruzhu"></span> 
							<span> 个体工商户入驻</span>
						</a>
					</li>
					<li class="table-view-cell" id="">
						<a class="mui-navigate-right touch-action">
							<span class="font_family mui-icon  iconfont micon3 icon-qiyeruzhu"></span> 
							<span> 企业商户入驻</span>
						</a>
					</li>
				</ul>
				<div id="presentation">
					<p>说明：</p>
					<div id="presentation-content">
						<div class="explain-item">
							<p class="fl">1、商户入驻，支持更多业务特权，如二维码，MOPS收款等；</p>
						</div>
						<div class="explain-item">
							<p class="fl">2、不同的商户认证类型，需提供不同的资质，不同计算账户，<br>不同的收款限额；</p>
						</div>
						<div class="explain-item">
							<a class="fl" id="check-qualifications">查看具体认证类型所需资质</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			
		</script>
	</body>

</html>
