
		<style>
			.page_xinyongka_sq .r0,.page_xinyongka_sq #recommended-service{
				color: goldenrod;
				margin-top: 12px;
				padding-left: 12px;
				height: 32px;
				border-bottom: 1px solid rgba(200,200,200,0.2);
			}
			.page_xinyongka_sq .r1 .weui-flex__item{
				text-align: center;
				padding: 10px 0;
			}
			.page_xinyongka_sq .r2 .apply-credit-tips{
				list-style: none;
				margin-top: 10px
			}
			.page_xinyongka_sq .r2 .apply-credit-tips li{
				margin-bottom: 20px;
				margin-left: -10px;
			}
			.page_xinyongka_sq .r2 .apply-credit-tips li:active{
				color: grey;
			}
			.page_xinyongka_sq .r2 .apply-credit-tips li span{
				border-radius: 5%;
				padding-top: 5px;
				padding-bottom: 5px;
				padding-left: 15px;
				padding-right: 30px;
				font-size: 15px;
				background-color:rgba(200,200,200,0.2);
			}
		</style>
		<div class="page_xinyongka_sq">
			<div id="recommended-service" class="r0">
				| 
				<span style="padding-top: 5px;">热门银行</span>
			</div>
			<div class="bank-list r1">
				<div class="weui-flex">
				    <div class="weui-flex__item">
						<a href="#">
							<img src="/static/imgs/credit/zhongxin.png" style="width: 60px;height: 60px;border-radius: 50%;">
							<div class="mui-media-body">中信银行</div>
						</a>
				    </div>
				    <div class="weui-flex__item">
				    	<a href="#">
							<img src="/static/imgs/credit/guangda.png" style="width: 60px;height: 60px;border-radius: 50%;">
							<div class="mui-media-body">光大银行</div>
						</a>
					</div>
				    <div class="weui-flex__item">
				    	<a href="#">
							<img src="/static/imgs/credit/xingye.png" style="width: 60px;height: 60px;border-radius: 50%;">
							<div class="mui-media-body">兴业银行</div>
						</a>
				    </div>
				</div>

				<div class="weui-flex">
				    <div class="weui-flex__item">
						<a href="#">
							<img src="/static/imgs/credit/pingan.png" style="width: 60px;height: 60px;border-radius: 50%;">
							<div class="mui-media-body">中国平安</div>
						</a>
				    </div>
				    <div class="weui-flex__item">
				    	<a href="#">
							<img src="/static/imgs/credit/zhaoshang.png" style="width: 60px;height: 60px;border-radius: 50%;">
							<div class="mui-media-body">招商银行</div>
						</a>
					</div>
				    <div class="weui-flex__item">
				    	<a href="#">
							<img src="/static/imgs/credit/jiaotong.jpg" style="width: 60px;height: 60px;border-radius: 50%;">
							<div class="mui-media-body">交通银行</div>
						</a>
				    </div>
				</div>

				<div class="weui-flex">
				    <div class="weui-flex__item">
						<a href="#">
							<img src="/static/imgs/credit/minsheng.png" style="width: 60px;height: 60px;border-radius: 50%;">
							<div class="mui-media-body">民生银行</div>
						</a>
				    </div>
				    <div class="weui-flex__item">
				    	<a href="#">
							<img src="/static/imgs/credit/shanghai.png" style="width: 60px;height: 60px;border-radius: 50%;">
							<div class="mui-media-body">上海银行</div>
						</a>
					</div>
				    <div class="weui-flex__item">
				    	<a href="#">
							<img src="/static/imgs/credit/guangfa.png" style="width: 60px;height: 60px;border-radius: 50%;">
							<div class="mui-media-body">兴业银行</div>
						</a>
				    </div>
				</div>
			</div>
			<div class="bank-card-question r2">
				<div id="recommended-service">
					| 
					<span style="padding-top: 5px;">办卡常见问题</span>
				</div>
				<ul class="apply-credit-tips">
					<li><span>1.信用卡申请小窍门</span></li>
					<li><span>2.如何填写能快速审批通过</span></li>
					<li><span>3.怎样办理更大额度的信用卡</span></li>
					<li><span>4.申请信用卡填表怎么填</span></li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">

		</script>
